---
import ArrowLeft from "@/icons/ArrowLeft.astro";
const { link } = Astro.props;
---

<a class="arrow-button" href=`${link}` target="_self" rel="noopener noreferrer">
  <ArrowLeft />
</a>

<style lang="scss">
  @use "@scss/variables.scss" as v;
  @use "@scss/mixins.scss" as m;

  a.arrow-button {
    background-color: v.$gray-light;
    border: 1px v.$border-color solid;
    color: v.$lighten;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 4px;
    border-radius: 50%;

    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;

    &:hover,
    &:focus-visible {
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    }

    @media (prefers-reduced-motion: no-preference) {
      &:hover,
      &:focus-visible {
        transform: translateX(5px);
      }
    }
  }
</style>
